<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
          https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         metadata-complete="false">
    <display-name>JD2-78-21-4</display-name>
    <!--    <servlet>-->
    <!--        <servlet-name>HelloServlet</servlet-name>-->
    <!--        <servlet-class>by.it_academy.jd2.web.HelloServlet</servlet-class>-->
    <!--    </servlet>-->
    <!--    <servlet-mapping>-->
    <!--        <servlet-name>HelloServlet</servlet-name>-->
    <!--        <url-pattern>/test</url-pattern>-->

</web-app>

